<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roshine.lookbar.movie" >

    <application
        android:name="debug.MovieApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/movie_app_name"
        android:supportsRtl="true"
        android:theme="@style/common_AppTheme">
        <activity android:name="debug.ModuleMovieActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MovieDetailActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
